textarea, input {
    font-family: 'monospace';
    min-width: 80ch;
    max-width: '100vw';
    font-size: 0.9em;
}

h1, h2, h3 {
    font-size: 1.1em;
}

.editor {
    font-size: 0.9em;
    width: 80ch;
    height: 12em;
    margin-top: 0.1em;
}
